/* all */

.underline {
    border-bottom: 4px solid #09ACF5;
}

/* banner */

.banner {
    background-image: linear-gradient( #BBE1E8, #FFFFFF);
    height: 680px;
}
.banner .title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 24px;
}
.banner .subtitle {
    font-size: 20px;
    color: #055667;
}

@media(max-width: 992px) {
    .banner {
        height: 1000px;
    }
    .banner .container {
        flex-wrap: wrap;
    }
    .banner .title {
        margin: 0 auto;
        text-align: center;
    }
    .banner .subtitle {
        text-align: center;
        margin-right: 0;
        margin-bottom: 60px;
    }
    /* .banner .banner-img {
        width: 400px;
    } */
}

@media(max-width: 767px) {
    .banner {
        height: 720px;
    }
    .banner .subtitle {
        font-size: 12px;
    }
    .banner .banner-img {
        width: 400px;
    }
}

/* introduction */

.introduction .intro-img {
    width: 75px;
    margin: 0 auto;
    margin-bottom: 24px;
}
.introduction .intro-title {
    font-size: 28px;
    font-weight: 700;
    color: #007D6F;
}
.introduction .intro-subtitle {
    font-size: 18px;
    font-weight: 700;
    color: #007D6F;
    margin-bottom: 8px;
}

@media(max-width: 992px) {
    .introduction p {
        font-size: 8px;
    }
    .introduction .intro-title {
        font-size: 16px;
    }
    .introduction .intro-subtitle {
        font-size: 16px;
    }
}

@media(max-width: 767px) {
    .introduction {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .introduction ul {
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .introduction ul li {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    .introduction .intro-title {
        text-align: center;
    }
}

/* course */

.course title {
    margin-bottom: 46px;
}
.course .course-img {
    /* object-fit: cover; */
    border-radius: 24px 24px 0 0;
}
.course .course-subtitle {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
}
.course .list-item-link {
    background-color: #FFFFFF;
    border-radius: 24px;
    box-shadow: 2px 2px 2px #AAAAAA;
    margin-top: 18px;
}
.course .list-item-link:hover {
    margin-top: 0;
    transition: 0.5s;
}
.course .list-item-link:hover .d-block {
    display: none;
}
.course .list-item-link .d-none {
    display: none;
    list-style: disc;
    margin-left: 16px;
}
.course .list-item-link:hover .d-none {
    display: block;
}
.course .d-none .button {
    list-style: none;
    font-size: 24px;
    font-weight: 600;
    /* color: #F9B117; */
    color: #E59303;
    text-decoration: underline;
    margin-top: 12px;
}

@media(max-width: 992px) {
    .course .container ul {
        width: 45%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .course .list-item {
        width: 100%;
        margin-right: 0;
    }
    .course .list-item-link {
        width: 100%;
    }
}

@media(max-width: 767px) {
    .course {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .course .container ul {
        width: 90%;
    }
    .course .title {
        margin-bottom: 24px;
    }
}

/* language */

.language {
    background: #E6F5F8;
}
.language-item .list-item-link {
    color: #FFFFFF;
    background: #007D6F;
    font-weight: 600;
	border-radius: 8px;
}
.language-item .list-item-link:hover {
	background: #055667;
}
.language .list-item-link:hover .d-block {
    display: none;
}
.language .list-item-link .d-none {
    display: none;
}
.language .list-item-link:hover .d-none {
    display: block;
}

@media(max-width: 992px) {
    .language-item .list-item-link {
        font-size: 16px;
        padding: 12px 16px;
    }
}

@media(max-width: 767px) {
    .language {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .language .container ul {
        width: 20%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .language .language-item {
        margin-bottom: 16px;
    }
    .language-item .list-item-link {
        font-size: 16px;
        text-align: center;
    }
}

/* allCourse */

.allCourse-section {
    max-width: 985px;
    margin: 0 auto;
}
.allCourse .list-item {
    background: #FFFFFF;
    width: 23%;
}
.allCourse .list-item .subtitle {
    font-size: 24px;
    margin-bottom: 14px;
    font-weight: 500;
    text-align: left;
}
.allCourse .list-item .allCourse-content {
    padding: 20px;
}
.allCourse .list-item-link:hover .subtitle {
    font-weight: 700;
}
.allCourse .list-item-link .allCourse-img {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.allCourse .list-item-link .allCourse-img img {
    transition: all 1s ease-out;  /* 圖片在區塊裡變形 */
}
.allCourse .list-item-link:hover img {
    transform: scale(1.2, 1.2);
}
.all-course {
    text-align: center;
}
.all-course .btn {
    font-size: 16px;
    color: #FFFFFF;
    background: #055667;
}
.all-course .btn:hover {
    font-weight: 500;
    box-shadow: 0 0 0 2px #007D6F;
}

@media(max-width: 992px) {
    .allCourse ul {
        width: 70%;
        margin: 0 auto;
        flex-wrap: wrap;
        margin-bottom: 24px;
    }
    .allCourse .list-item {
        width: 48%;
        margin-bottom: 12px;
    }
    .allCourse .list-item .subtitle {
        font-size: 18px;
        line-height: 1.5;
    }
    .allCourse .allCourse-content p {
        margin-bottom: 6px;
    }
}

@media(max-width: 767px) {
    .allCourse {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .allCourse .list-item {
        width: 310px;
    }
}

/* recommend */

.recommend .title-content {
    position: relative;
    height: 60px;
    margin-right: 300px;
}
.recommend .title {
    font-size: 36px;
    margin-bottom: 0;
    width: 288px;
    position: absolute;
    z-index: 10;
}
.recommend .title-box {
    width: 288px;
    height: 40px;
    background: #48A1FF;
    position: absolute;
    top: 20px;
}
.recommend .student-pro {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

/* 輪播動畫 */
.recommend-content{
    width: 500px;
    margin-top: 64px;
    position: relative;
}
.recommend-content>.recommend-content-list{
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    filter: alpha(opacity=0);
	/*當圖片數量增加，影片長度需更改，變為5s*圖片數量*/
	-webkit-animation: slider 15s linear infinite;
	animation: slider 15s linear infinite;
}
/*動畫關鍵影格*/
@-webkit-keyframes slider {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
@keyframes slider {
    3% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    27% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    30% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
}
/*每個圖片各延遲5秒*/
.recommend-content>.recommend-content-list:nth-child(3) {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;               
}
.recommend-content>.recommend-content-list:nth-child(2) {
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}
.recommend-content>.recommend-content-list:nth-child(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;    
}
/*滑入時停止播放*/
.recommend-content:hover>a{
-webkit-animation-play-state: paused;
        animation-play-state: paused;
}

@media(max-width: 1280px) {
    .recommend {
        width: 70%;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .recommend .title-content {
        width: 100%;
        margin-bottom: 64px;
    }
    .recommend .title-content {
        margin-left: 20px;
        margin-right: 20px;
    }
    .recommend .recommend-content-list {
        margin-left: 20px;
        margin-right: 20px;
    }
    .recommend .text-128 {
        font-size: 80px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media(max-width: 767px) {
    .recommend {
        display: none;
    }
}


/* article */

.article {
    background: #E6F5F8;
}
.article .article-img {
    margin-bottom: 28px;
}
.article .title {
    font-size: 18px;
    font-weight: 700;
}
.article .list-item {
    background: #FFFFFF;
    padding: 18px;
    width: 32%;
}
.article .button {
    /* padding: 8px 16px;
    background: #007D6F; */
    color: #007D6F;
    font-weight: 700;
    font-size: 24px;
}
.article .list-item:hover {
    box-shadow: 0 0 5px #AAAAAA;
}

@media(max-width: 767px) {
    .article {
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .article ul {
        flex-wrap: wrap;
    }
    .article .list-item {
        width: 100%;
        margin-bottom: 16px;
    }
}

